---
import Layout from "../layouts/Layout.astro";
import ProjectTab from "../components/ProjectTab.astro"
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import RocketIcon from "../components/icons/RocketIcon.astro";
import { projects } from "../lib/data";
const project = projects[0];
---

<Layout>
  <section class="pages-viewer">
    <div class="[grid-area: current-content] rounded-md gap-6 bg-lapislazuli-700">
      <img src="/public/U-connect.png" alt="U-connect first page" class="h-4/6 w-full"/>
      <div class="h-2/6 flex flex-col items-start gap-6 p-4">
        <h1 class="text-4xl font-black">{project.title}</h1>
      <p class="text-lg">{project.description}</p>
      <ul class="flex justify-around gap-3 p-2">
        {project.tools.map((tool) => (
          <li><span class="bg-pictonBlue-900 text-white px-3 py-1 rounded-2xl text-sm">{tool}</span></li>
        ))}
      </ul>
      <div class="w-full flex justify-start mt-1 gap-4">
        <a href={project.github} class="flex gap-2 py-2 px-4 rounded-md bg-bw-700 hover:bg-bw-500">
          <GitHubIcon />
          Github
        </a>
        <a href={project.link} class="flex gap-2 py-2 px-4 rounded-md bg-pictonBlue-700 hover:bg-pictonBlue-500">
          <RocketIcon />
          Demo
        </a>
      </div>
      </div>
    </div>
    <aside class="[grid-area: aside] flex flex-col justify-evenly gap-4 rounded-md px-4">
      {projects.map((project) => (
        <ProjectTab project={project} />
      ))}
      <button class="bg-none text-bw-600 underline underline-offset-2">More Projects {">>"}</button>
    </aside>
  </section>

    <style>
      .pages-viewer{
        display: grid;
        grid-template-areas: 
        "current-content aside";
        grid-template-columns: 1fr 350px;
        grid-template-rows: 80vh;
    
      }
  </style>
</Layout>