---
import ProjectTab from "../components/ProjectTab.astro"
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import RocketIcon from "../components/icons/RocketIcon.astro";
import { projects } from "../lib/data";
const project = projects[0];
---

  <section class="h-screen pt-[4.25rem] flex flex-col justify-evenly">
    <h2 class="about-title text-4xl">Projects</h2>
    <div class="pages-viewer">
      <div class="[grid-area: current-content] h-[90%] justify-evenly gap-6 rounded-md bg-lapislazuli-700 md:h-auto">
        <div class="h-2/3 w-full flex items-center justify-center rounded-t-md bg-pictonBlue-700 bg-opacity-50 md:h-4/6">
          <img src="/U-connect.png" alt="U-connect first page" class="max-w-[70%] max-h-full object-scale-down shadow-lg"/>
        </div>
        <div class="h-1/3 flex flex-col items-start justify-between p-4 md:h-2/6">
          <h1 class="text-3xl font-semibold">{project.title}</h1>
        <p class="text-[17px]">{project.description}</p>
        <ul class="hidden justify-around gap-3 p-2 md:flex">
          {project.tools.map((tool) => (
            <li><span class="bg-pictonBlue-900 text-white px-3 py-1 rounded-2xl text-sm">{tool}</span></li>
          ))}
        </ul>
        <div class="w-full flex justify-end mt-1 gap-4 md:justify-start">
          <a href={project.github} class="flex static gap-2 py-2 px-4 rounded-md bg-bw-700 hover:bg-bw-600">
            <GitHubIcon />
            Github
          </a>
          <a href={project.link} class="flex gap-2 py-2 px-4 rounded-md bg-steelBlue-700 hover:bg-pictonBlue-700">
            <RocketIcon />
            Demo
          </a>
        </div>
        </div>
      </div>
      <div class="[grid-area: aside] h-[10%] static flex flex-col justify-between px-4 md:h-auto">
        <div class="grid h-full">
          {projects.map((project) => (
            <ProjectTab project={project} />
          ))}
        </div>
        <button class="bg-none text-bw-300 my-auto hover:underline underline-offset-2">More Projects {">>"}</button>
      </div>
    </div>
</section>

    <style>
      .pages-viewer{
        display: grid;
        grid-template-areas: 
        "current-content aside";
        grid-template-columns: 1fr 350px;
        grid-template-rows: 80vh;
    
      }

      @media screen and (max-width: 768px){
        .pages-viewer {
          display: flex;
          flex-direction: column;
          height: 80vh;
      }
    }

  </style>