---
import HTMLIcon from "./icons/HTMLIcon.astro";
import CSSIcon from "./icons/CSSIcon.astro";
import JavascriptIcon from "./icons/JavascriptIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import NodeIcon from "./icons/NodeIcon.astro";
import NextIcon from "./icons/NextIcon.astro";
import PythonIcon from "./icons/PythonIcon.astro";
import DjangoIcon from "./icons/DjangoIcon.astro";
import MongoIcon from "./icons/MongoIcon.astro";
import DockerIcon from "./icons/DockerIcon.astro";
const elementStyles = "text-lg grid font-bold justify-center items-center text-center px-auto";
const titleStyle = "hidden md:block"
---

<section>
    <h2 class="text-3xl font-bold mt-20">Skills</h2>
    <div class="grid md:grid-cols-2 mt-4 g-8">
        <div>
            <h3 class="text-2xl font-bold">Frontend</h3>
            <ul class="flex justify-around mt-4">
                <li class={elementStyles}>
                    <HTMLIcon /> <span class={titleStyle}>HTML</span>
                </li>
                <li class={elementStyles}>
                    <CSSIcon /> <span class={titleStyle}>CSS</span>
                </li>
                <li class={elementStyles}>
                    <JavascriptIcon /> <span class={titleStyle}>JS</span>
                </li>
                <li class={elementStyles}>
                    <ReactIcon /> <span class={titleStyle}>React</span>
                </li>
                <li class={elementStyles}>
                    <TailwindIcon /> <span class={titleStyle}>Tailwind</span>
                </li>
                <li class={elementStyles}>
                    <AstroIcon /> <span class={titleStyle}>Astro</span>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="text-2xl font-bold">Backend</h3>
                  <ul class="flex justify-around mt-4">
                    <li class={elementStyles}>
                        <NodeIcon /> <span class={titleStyle}>Node</span>
                    </li>
                    <li class={elementStyles}>
                        <NextIcon /> <span class={titleStyle}>Next</span>
                    </li>
                    <li class={elementStyles}>
                        <PythonIcon /> <span class={titleStyle}>Python</span>
                    </li>
                    <li class={elementStyles}>
                        <DjangoIcon /> <span class={titleStyle}>Django</span>
                    </li>
                    <li class={elementStyles}>
                        <MongoIcon /> <span class={titleStyle}>MongoDB</span>
                    </li>
                    <li class={elementStyles}>
                        <DockerIcon /> <span class={titleStyle}>Docker</span>
                    </li>
            </ul>
</section>